/* Diego García González UO294255 */

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    body {
        background-size: contain; 
        background-position: top;
    }

    header nav a {
        margin: 0.5em 0;
    }

    p.breadcrumbs {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 , label{
        text-align: center;
    }

    article h3 {
        font-size: 1.1rem;  /* Reduce el tamaño de los títulos */
    }

    article li {
        font-size: 0.9rem;  /* Tamaño de fuente más pequeño en pantallas pequeñas */
        padding: 0.75rem;  /* Reduce el padding en los elementos de la lista */
    }

    main article section {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    }

    main article section h4 {
        grid-column: span 1; 
    }

    main article section img {
        width: 100%; 
    }

    main article section p {
        grid-column: span 1; 
    }

}

