@keyframes lighting {
    from {
        background-color: #0007;
    }
    to {
        background-color: #B30600;
    }
}

@keyframes out {
    from {
        background-color: #B30600;
    }
    to {
        background-color: #00FF00;
    }
}

main {
    font-family: Verdana, sans-serif;
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

main h3{
    background-color: transparent;
    color: black;
}

/* Estilo del encabezado */
section {
    grid-column: span 4;
    text-align: center;
    grid-row: 1;
    margin: 1em;
}

section h1 {
    color: #333;
}

/* Contenedor de las luces del semáforo */
section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    grid-row: 2;
    width: 100vw;
    margin-bottom: 4em;
}

/* Estilo para las luces */
div {
    background-color: #0007;
    border: 0.5vw solid #000;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 15vw;
}

/* Contenedor de los botones (footer) */
section:nth-of-type(3) {
    grid-row: 3;
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* Estilo para los botones */
button {
    padding: 0.8em 2em;
    color: white;
    background-color: #A9A9A9;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efecto hover en el botón */
button:hover {
    background-color: #D3D3D3;
}

/* Deshabilitar el hover y el cursor en los botones deshabilitados */
button:disabled {
    cursor: not-allowed;
    background-color: #A9A9A9;
    box-shadow: none;
}

/* Animación para luces en la secuencia de carga */
main.load div:nth-of-type(1) {
    animation-name: lighting;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(2) {
    animation-name: lighting;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(3) {
    animation-name: lighting;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(4) {
    animation-name: lighting;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

/* Estilo para el mensaje de tiempo de reacción */
main p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    margin-top: 2%;
    text-align: center;
    padding: 1rem;
    background-color: #F5F5F5;
    border-radius: 0.3125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    display: inline-block;
}

/* Animación para luces en la secuencia de descarga */
main.unload div {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}
