.carrera {
    padding: 1rem;
}

h2{
    padding: 1rem;
}

button {
    margin-left: 2rem;
    padding: 0.8rem 1.6rem;
    background-color: #B30600;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #A30500;
}

