/* Diego García González UO294255 */

body {
    font-family: Verdana, sans-serif; 
    background-color: #f0f0f0; 
    color: #20232A; 
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh; 
}

header {
    text-align: center;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    background-color: #B30600; 
    color: #FFFFFF;
}

/* Especificidad: 0-0-1 */
main {
    background-color: #FFFFFF;
    color: #20232A;
}

h1 a {
    background-color: #B30600;
    color: #FFFFFF;
    text-decoration: none;
}

section {
    background-color: #FFFAFA; 
    border-radius: 0.5em; 
    padding: 1em; 
    margin: 1em 0; 
}

/* Especificidad: 0-0-1 */
h2 { 
    background-color: #FFFFFF;
    color: #20232A;
}

/* Especificidad: 0-0-1 */
h3, h4 { 
    background-color: #B30600;
    color: #FFFFFF;
}

/* Especificidad: 0-0-1 */
main nav a {
    background-color: #FFFFFF;
    color: #20232A; 
}

/* Especificidad: 0-0-1 */
main a {
    background-color: #FFFFFF;
    color: #20232A; 
}

/* Especificidad: 0-0-1 */
main a:link {
    color: #20232A;
}
  
/* Especificidad: 0-0-1 */
main a:hover {
    border-bottom: 2px solid;
    background: #f0f0f0;
}
  
/* Especificidad: 0-0-1 */
main a:active {
    background: #f0f0f0;
    color: #FFFFFF;
}

dt {
    font-weight: bold;
}

/* Especificidad: 0-0-1 */
header nav {
    display: flex; 
    justify-content: center; 
}

header nav a {
    color: #FFFFFF; 
    margin: 0 1em; 
    text-decoration: none; 
}

/* Especificidad: 0-0-1 */
header nav a.active {
    color: #FFFFFF; 
    font-weight: bold; 
    text-decoration: underline;
}

/* Especificidad: 0-0-1 */
header nav a:hover {
    background-color: #A30500; 
}
