/* Diego García González UO294255 */

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav a {
        margin: 0.5em 0;
    }

    p.breadcrumbs {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}
