/* Diego García González UO294255 */

main body {
    font-family: Verdana, sans-serif; 
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh; 
}

main section {
    background-color:  #006400;
}

main h1{
    margin-top: 0rem;
    text-align: center;
    color: #FFFFFF;
}

main nav {
    display: flex; 
    justify-content: center; 
}

main nav a {
    color: #FFFFFF; 
    background-color:  #006400;
    margin: 0 1em; 
    text-decoration: none; 
}

main nav a.active {
    color: #FFFFFF; 
    font-weight: bold; 
    text-decoration: underline;
}

main nav a:hover {
    background-color: #004F3C; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem; 
    /* Bordado */ 
    border: 0.3em solid #D4AF37;
    border-radius: 0.3em;
    /* Tapete */
    background: #006400; 
    padding: 1rem; 
}

.memory-cards {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(3, 25vh);
    gap: 1rem;
    margin-top: 2rem;
}



main article {
    width: 20vw; 
    height: 25vh; 
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); 
}

main article h3,
main article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    
    background-color: #b22222; 
    
    background-image:
        linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15)),
        linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15));
    background-size: 1rem 1rem; 
    background-position: 0 0, 0.5rem 0.5rem; 
    
    border: 2px solid #8b0000; 
}

main article img {
    transform: rotateY(180deg);
    border-radius: 0.5rem;
}

main article[data-state="flip"],article[data-state="revealed"] {
    transform: rotateY(180deg);
    border-radius: 0.5rem;
}