header {
    text-align: center;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    background-color: #B30600; 
    color: #FFFFFF;
}

header nav {
    display: flex; 
    justify-content: center; 
}

header nav a {
    color: #FFFFFF; 
    margin: 0 1em; 
    text-decoration: none; 
}

header nav a.active {
    color: #FFFFFF; 
    font-weight: bold; 
    text-decoration: underline;
}

header nav a:hover {
    background-color: #A30500; 
}

body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh; 
}