body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh; 
}

header {
    text-align: center;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    background-color: #B30600; 
    color: #FFFFFF;
}

h2{
    color: #D4AF37
}

header nav {
    display: flex; 
    justify-content: center; 
}

header nav a {
    color: #FFFFFF; 
    margin: 0 1em; 
    text-decoration: none; 
}

header nav a.active {
    color: #FFFFFF; 
    font-weight: bold; 
    text-decoration: underline;
}

header nav a:hover {
    background-color: #A30500; 
}

.memory-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem; 

    border: 0.3em solid #D4AF37;

    /* Fondo verde y textura de fieltro */
    background: #006400; /* Fondo verde oscuro, como el de un tapete de póker */
    background-image: 
        radial-gradient(circle, rgba(0, 100, 0, 0.5) 20%, transparent 20%), 
        radial-gradient(circle, rgba(0, 100, 0, 0.2) 30%, transparent 30%); /* Textura de fieltro */

    background-size: 2rem 2rem, 3rem 3rem; /* Tamaño de la textura de fieltro */
    background-position: 0 0, 1.5rem 1.5rem; /* Posicionamiento de las texturas */
    
    padding: 1rem; /* Espaciado interno */
}

.memory-cards {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(3, 25vh);
    gap: 1rem;
    margin-top: 2rem;
}



article {
    width: 20vw; 
    height: 25vh; 
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3); 
}

article h3,
article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    
    background-color: #b22222; 
    background-image:
        linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15)),
        linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15));
    background-size: 1rem 1rem; 
    background-position: 0 0, 0.5rem 0.5rem; 
    
    border: 2px solid #8b0000; 
}


article img {
    transform: rotateY(180deg);
    border-radius: 0.5rem;
}

article[data-state="flip"] {
    transform: rotateY(180deg);
}

article[data-state="revealed"] {
    transform: rotateY(180deg);
}