.carrera {
    padding: 1rem;
}

h2{
    padding: 1rem;
}

button {
    margin: 1rem auto 2rem auto; 
    padding: 0.8rem 1.6rem;
    background-color: #B30600;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.5rem;
    grid-column: span 5;
}

button:hover {
    background-color: #A30500;
}

